<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Página en línea</h1>
        <form method="post" action="/modeloForm">
            <label>pH</label>
            <input type="text" name="pH" placeholder="ph">
            <br />
            <label>Sulphates</label>
            <input type="text" name="sulphates" placeholder="sulphates">
            <br />
            <label>Alcohol</label>
            <input type="text" name="alcohol" placeholder="alcohol">
        </form>
    </body>
</html>